
@font-face {
 font-family: "Circe";
 src: url(../fonts/font/Circe-Regular.woff)  format("woff");
}

.container {
  width: 100%;
  max-width: 1460px;
  margin: 0 auto;
}

.header {
  align-content: space-around;
  font-family: "Gilam", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  background-color: black;
  color: #ffffff;
  position: sticky;
  top: 0;
}

.header-content {
  display: grid;
  align-items: end;
  max-width: 1460px;
  max-height: fit-content;
  margin: 0 auto;
  position: sticky;
  top: 0;
}

.item1 {
  grid-area: 1 / 1;
}

.item2 {
  grid-area: 1 / 2;
  margin-top: 17px;
  justify-self: end;
  color: #e4b564;
  border: 1px solid #e4b564;
  font-family: "Circe", "Gilam";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  padding: 10px 25px 10px 45px;
  text-decoration: none;
}

.item3 {
  grid-area: 2 / 1;
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
  padding-top: 10px;
}

.item4 {
  grid-area: 2 / 2;
  justify-self: end;
  color: #e4b564;
  border: 1px solid #e4b564;
  font-family: "Circe", "Gilam";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  padding: 10px 40px;
  text-decoration: none;
}

.item5 {
  grid-area: 3/1;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.info {
  width: 100%;
  background-image: url(../img/header-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  top: 0px;
  left: 0px;
  padding: 20px 0px 20px;
}


.info-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  column-gap: 30px; 
  justify-items: stretch;
  align-items: stretch;
  width: 100%;
  max-width: 1460px;
  height: 960px;
}

.info-box1 {
  background-color: #634f2c;
}

.info-box2 {
  background-color: #b4a385;
}

.info-box3 {
  background-color: #e4b564;
}

.info-box4 {
  grid-area: 2 / 1 / 3 / 3;
  width: 74%;
  justify-self: start;
  background-color: #635a4a;
}

.info-box5 {
  grid-area: 2 / 2 / 3 / 4;
  width: 74%;
  justify-self: end;
  background-color: #b08c4d;
  
}
.info-box-title {
  display: block;
  font-family: "Gilam", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  padding-top: 220px;
  text-align: center;
}

.equip-park {
  background-image: url(../img/parallax-bg.jpeg);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  left: 0px;
}

.average-title {
  height: 350px;
  position: sticky;
  top: 90px;
} 

.equip-park-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 25px;
  justify-items: stretch;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  padding-top: 30px;
}

.technique {
  display: block;
  font-family: "Gilam", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  padding-top: 44px;
  padding-left: 48px;
}

.equip-park-item1 {
  grid-area: 1 / 1 / 3 / 2;
  background-color: #0e0e0e;
  height: 313px;
}

.equip-park-item2 {
  grid-area: 1 / 2 / 3 / 3;
  background-color: #242424;
  height: 425px;
}

.equip-park-item3 {
  grid-area: 1 / 3 / 2 / 4;
  background-color: #1f1f1f;
  height: 300px;
}

.equip-park-item4 {
  grid-area: 2 / 1 / 4 / 2;
  background-color: #1f1f1f;
  height: 590px;
}

.equip-park-item5 {
  grid-area: 2 / 2 / 4 / 3;
  background-color: #e4b564;
  height: 420px;
  align-self: center;
}

.equip-park-item6 {
  grid-area: 2 / 3 / 3 / 4;
  background-color: #0e0e0e;
  height: 313px;
}

.equip-park-item7 {
  grid-area: 3 / 3 / 4 / 4;
  background-color: #0a0909;
  height: 257px;
}

.clients-projects {
  background-image: url(../img/869x-dh-installation-4.b4b.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  left: 0px;
}

.lower-title {
  height: 350px;
  position: sticky;
  top: 90px;
}

.clients-projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-family: "Gilam";
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  cursor: pointer;
  padding: 50px 0 50px;
}

.work-item1 {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: center;
  background-color: #634f2c;
  width: 485px;
  height: 391px;
}
.work-item2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  background-color: #e8d2abc2;
  width: 485px;
  height: 391px;
}
.work-item3 {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: center;
  background-color: #e4b564;
  width: 485px;
  height: 391px;
}
.work-item4 {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: center;
  background-color: #635a4a;
  width: 485px;
  height: 391px;
}
.work-item5 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  background-color: #b08c4d;
  width: 485px;
  height: 391px;
}
.work-item6 {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: center;
  background-color: #634f2c;
  width: 485px;
  height: 391px;
}
.work-examples {
  display: inline;
  width: 326px;
  color: #ffffff;
  text-align: center;
  font-family: "Gilam";
  opacity: 0;
  cursor: pointer;
}

.work-examples > p {
  margin: 0;
}

.work-examples:hover {
  opacity: 1;
}

.footer {
  background-color: #0e0e0e;
  height: 150px;
}
